<p>user works!</p>
<hr>
<label for="username">User Name: </label>
<input type="text" [(ngModel)] = "username">
<br>
{{username}}
<br>
<button class="btn btn-primary" (click) = "clearText()" [disabled]="username === ''">Clear Text</button>
<hr>

<button class="btn btn-primary" (click) = "toggleText()" >Display Text</button>
<p *ngIf="showText">Secret Password shown here!</p>
<p *ngFor="let index of indexes" [ngStyle]="{'background-color': index>5 ? 'blue' : white}" [ngClass] = "{morethan5: index > 5}">{{'Clicked count: ' + index}}</p>